.ui-helper-hidden
  display none

.ui-helper-hidden-accessible
  position absolute !important
  clip rect(1px 1px 1px 1px)

.ui-helper-reset
  margin 0
  padding 0
  border 0
  outline 0
  line-height 1.3
  text-decoration none
  font-size 100%
  list-style none

.ui-helper-clearfix
  display block
  &:after
    content "."
    display block
    height 0
    clear both
    visibility hidden

*
  html
    .ui-helper-clearfix
      height 1%
    .ui-autocomplete
      width 1px

.ui-helper-zfix
  width 100%
  height 100%
  top 0
  left 0
  position absolute
  opacity 0

.ui-state-disabled
  cursor default !important

.ui-icon
  display block
  text-indent -99999px
  overflow hidden
  background-repeat no-repeat
  width 16px
  height 16px
  background-image url(images/jquery-ui/ui-icons_222222_256x240.png)

.ui-widget-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background #aaaaaa url(images/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x
  opacity .30

.ui-widget
  font-family Verdana,Arial,sans-serif
  font-size 1.1em
  .ui-widget
    font-size 1em
  :active
    outline none

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
  font-family Verdana,Arial,sans-serif
  font-size 1em

.ui-widget-content
  border 1px solid #aaaaaa
  background #ffffff url(images/jquery-ui/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x
  color #222222
  a
    color #222222
  .ui-icon
    background-image url(images/jquery-ui/ui-icons_222222_256x240.png)

.ui-widget-header
  border 1px solid #aaaaaa
  background #cccccc url(images/jquery-ui/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x
  color #222222
  font-weight bold
  a
    color #222222
  .ui-icon
    background-image url(images/jquery-ui/ui-icons_222222_256x240.png)

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
  border 1px solid #d3d3d3
  background #e6e6e6 url(images/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x
  font-weight normal
  color #555555

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
  color #555555
  text-decoration none

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
  border 1px solid #999999
  background #C9EEFF
  font-weight normal
  color #212121

.ui-state-hover a, .ui-state-hover a:hover
  color #212121
  text-decoration none

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
  border 1px solid #aaaaaa
  background #ffffff url(images/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x
  font-weight normal
  color #212121

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
  color #212121
  text-decoration none

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
  border 1px solid #fcefa1
  background #fbf9ee url(images/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x
  color #363636

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a
  color #363636

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
  border 1px solid #cd0a0a
  background #fef1ec url(images/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x
  color #cd0a0a

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a
  color #cd0a0a

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text
  color #cd0a0a

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
  font-weight bold

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary
  opacity .7
  font-weight normal

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
  opacity .35
  background-image none

.ui-state-default
  .ui-icon
    background-image url(images/jquery-ui/ui-icons_888888_256x240.png)

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
  background-image url(images/jquery-ui/ui-icons_454545_256x240.png)

.ui-state-active
  .ui-icon
    background-image url(images/jquery-ui/ui-icons_454545_256x240.png)

.ui-state-highlight
  .ui-icon
    background-image url(images/jquery-ui/ui-icons_2e83ff_256x240.png)

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
  background-image url(images/jquery-ui/ui-icons_cd0a0a_256x240.png)

.ui-icon-carat-1-n
  background-position 0 0

.ui-icon-carat-1-ne
  background-position -16px 0

.ui-icon-carat-1-e
  background-position -32px 0

.ui-icon-carat-1-se
  background-position -48px 0

.ui-icon-carat-1-s
  background-position -64px 0

.ui-icon-carat-1-sw
  background-position -80px 0

.ui-icon-carat-1-w
  background-position -96px 0

.ui-icon-carat-1-nw
  background-position -112px 0

.ui-icon-carat-2-n-s
  background-position -128px 0

.ui-icon-carat-2-e-w
  background-position -144px 0

.ui-icon-triangle-1-n
  background-position 0 -16px

.ui-icon-triangle-1-ne
  background-position -16px -16px

.ui-icon-triangle-1-e
  background-position -32px -16px

.ui-icon-triangle-1-se
  background-position -48px -16px

.ui-icon-triangle-1-s
  background-position -64px -16px

.ui-icon-triangle-1-sw
  background-position -80px -16px

.ui-icon-triangle-1-w
  background-position -96px -16px

.ui-icon-triangle-1-nw
  background-position -112px -16px

.ui-icon-triangle-2-n-s
  background-position -128px -16px

.ui-icon-triangle-2-e-w
  background-position -144px -16px

.ui-icon-arrow-1-n
  background-position 0 -32px

.ui-icon-arrow-1-ne
  background-position -16px -32px

.ui-icon-arrow-1-e
  background-position -32px -32px

.ui-icon-arrow-1-se
  background-position -48px -32px

.ui-icon-arrow-1-s
  background-position -64px -32px

.ui-icon-arrow-1-sw
  background-position -80px -32px

.ui-icon-arrow-1-w
  background-position -96px -32px

.ui-icon-arrow-1-nw
  background-position -112px -32px

.ui-icon-arrow-2-n-s
  background-position -128px -32px

.ui-icon-arrow-2-ne-sw
  background-position -144px -32px

.ui-icon-arrow-2-e-w
  background-position -160px -32px

.ui-icon-arrow-2-se-nw
  background-position -176px -32px

.ui-icon-arrowstop-1-n
  background-position -192px -32px

.ui-icon-arrowstop-1-e
  background-position -208px -32px

.ui-icon-arrowstop-1-s
  background-position -224px -32px

.ui-icon-arrowstop-1-w
  background-position -240px -32px

.ui-icon-arrowthick-1-n
  background-position 0 -48px

.ui-icon-arrowthick-1-ne
  background-position -16px -48px

.ui-icon-arrowthick-1-e
  background-position -32px -48px

.ui-icon-arrowthick-1-se
  background-position -48px -48px

.ui-icon-arrowthick-1-s
  background-position -64px -48px

.ui-icon-arrowthick-1-sw
  background-position -80px -48px

.ui-icon-arrowthick-1-w
  background-position -96px -48px

.ui-icon-arrowthick-1-nw
  background-position -112px -48px

.ui-icon-arrowthick-2-n-s
  background-position -128px -48px

.ui-icon-arrowthick-2-ne-sw
  background-position -144px -48px

.ui-icon-arrowthick-2-e-w
  background-position -160px -48px

.ui-icon-arrowthick-2-se-nw
  background-position -176px -48px

.ui-icon-arrowthickstop-1-n
  background-position -192px -48px

.ui-icon-arrowthickstop-1-e
  background-position -208px -48px

.ui-icon-arrowthickstop-1-s
  background-position -224px -48px

.ui-icon-arrowthickstop-1-w
  background-position -240px -48px

.ui-icon-arrowreturnthick-1-w
  background-position 0 -64px

.ui-icon-arrowreturnthick-1-n
  background-position -16px -64px

.ui-icon-arrowreturnthick-1-e
  background-position -32px -64px

.ui-icon-arrowreturnthick-1-s
  background-position -48px -64px

.ui-icon-arrowreturn-1-w
  background-position -64px -64px

.ui-icon-arrowreturn-1-n
  background-position -80px -64px

.ui-icon-arrowreturn-1-e
  background-position -96px -64px

.ui-icon-arrowreturn-1-s
  background-position -112px -64px

.ui-icon-arrowrefresh-1-w
  background-position -128px -64px

.ui-icon-arrowrefresh-1-n
  background-position -144px -64px

.ui-icon-arrowrefresh-1-e
  background-position -160px -64px

.ui-icon-arrowrefresh-1-s
  background-position -176px -64px

.ui-icon-arrow-4
  background-position 0 -80px

.ui-icon-arrow-4-diag
  background-position -16px -80px

.ui-icon-extlink
  background-position -32px -80px

.ui-icon-newwin
  background-position -48px -80px

.ui-icon-refresh
  background-position -64px -80px

.ui-icon-shuffle
  background-position -80px -80px

.ui-icon-transfer-e-w
  background-position -96px -80px

.ui-icon-transferthick-e-w
  background-position -112px -80px

.ui-icon-folder-collapsed
  background-position 0 -96px

.ui-icon-folder-open
  background-position -16px -96px

.ui-icon-document
  background-position -32px -96px

.ui-icon-document-b
  background-position -48px -96px

.ui-icon-note
  background-position -64px -96px

.ui-icon-mail-closed
  background-position -80px -96px

.ui-icon-mail-open
  background-position -96px -96px

.ui-icon-suitcase
  background-position -112px -96px

.ui-icon-comment
  background-position -128px -96px

.ui-icon-person
  background-position -144px -96px

.ui-icon-print
  background-position -160px -96px

.ui-icon-trash
  background-position -176px -96px

.ui-icon-locked
  background-position -192px -96px

.ui-icon-unlocked
  background-position -208px -96px

.ui-icon-bookmark
  background-position -224px -96px

.ui-icon-tag
  background-position -240px -96px

.ui-icon-home
  background-position 0 -112px

.ui-icon-flag
  background-position -16px -112px

.ui-icon-calendar
  background-position -32px -112px

.ui-icon-cart
  background-position -48px -112px

.ui-icon-pencil
  background-position -64px -112px

.ui-icon-clock
  background-position -80px -112px

.ui-icon-disk
  background-position -96px -112px

.ui-icon-calculator
  background-position -112px -112px

.ui-icon-zoomin
  background-position -128px -112px

.ui-icon-zoomout
  background-position -144px -112px

.ui-icon-search
  background-position -160px -112px

.ui-icon-wrench
  background-position -176px -112px

.ui-icon-gear
  background-position -192px -112px

.ui-icon-heart
  background-position -208px -112px

.ui-icon-star
  background-position -224px -112px

.ui-icon-link
  background-position -240px -112px

.ui-icon-cancel
  background-position 0 -128px

.ui-icon-plus
  background-position -16px -128px

.ui-icon-plusthick
  background-position -32px -128px

.ui-icon-minus
  background-position -48px -128px

.ui-icon-minusthick
  background-position -64px -128px

.ui-icon-close
  background-position -80px -128px

.ui-icon-closethick
  background-position -96px -128px

.ui-icon-key
  background-position -112px -128px

.ui-icon-lightbulb
  background-position -128px -128px

.ui-icon-scissors
  background-position -144px -128px

.ui-icon-clipboard
  background-position -160px -128px

.ui-icon-copy
  background-position -176px -128px

.ui-icon-contact
  background-position -192px -128px

.ui-icon-image
  background-position -208px -128px

.ui-icon-video
  background-position -224px -128px

.ui-icon-script
  background-position -240px -128px

.ui-icon-alert
  background-position 0 -144px

.ui-icon-info
  background-position -16px -144px

.ui-icon-notice
  background-position -32px -144px

.ui-icon-help
  background-position -48px -144px

.ui-icon-check
  background-position -64px -144px

.ui-icon-bullet
  background-position -80px -144px

.ui-icon-radio-off
  background-position -96px -144px

.ui-icon-radio-on
  background-position -112px -144px

.ui-icon-pin-w
  background-position -128px -144px

.ui-icon-pin-s
  background-position -144px -144px

.ui-icon-play
  background-position 0 -160px

.ui-icon-pause
  background-position -16px -160px

.ui-icon-seek-next
  background-position -32px -160px

.ui-icon-seek-prev
  background-position -48px -160px

.ui-icon-seek-end
  background-position -64px -160px

.ui-icon-seek-start
  background-position -80px -160px

.ui-icon-seek-first
  background-position -80px -160px

.ui-icon-stop
  background-position -96px -160px

.ui-icon-eject
  background-position -112px -160px

.ui-icon-volume-off
  background-position -128px -160px

.ui-icon-volume-on
  background-position -144px -160px

.ui-icon-power
  background-position 0 -176px

.ui-icon-signal-diag
  background-position -16px -176px

.ui-icon-signal
  background-position -32px -176px

.ui-icon-battery-0
  background-position -48px -176px

.ui-icon-battery-1
  background-position -64px -176px

.ui-icon-battery-2
  background-position -80px -176px

.ui-icon-battery-3
  background-position -96px -176px

.ui-icon-circle-plus
  background-position 0 -192px

.ui-icon-circle-minus
  background-position -16px -192px

.ui-icon-circle-close
  background-position -32px -192px

.ui-icon-circle-triangle-e
  background-position -48px -192px

.ui-icon-circle-triangle-s
  background-position -64px -192px

.ui-icon-circle-triangle-w
  background-position -80px -192px

.ui-icon-circle-triangle-n
  background-position -96px -192px

.ui-icon-circle-arrow-e
  background-position -112px -192px

.ui-icon-circle-arrow-s
  background-position -128px -192px

.ui-icon-circle-arrow-w
  background-position -144px -192px

.ui-icon-circle-arrow-n
  background-position -160px -192px

.ui-icon-circle-zoomin
  background-position -176px -192px

.ui-icon-circle-zoomout
  background-position -192px -192px

.ui-icon-circle-check
  background-position -208px -192px

.ui-icon-circlesmall-plus
  background-position 0 -208px

.ui-icon-circlesmall-minus
  background-position -16px -208px

.ui-icon-circlesmall-close
  background-position -32px -208px

.ui-icon-squaresmall-plus
  background-position -48px -208px

.ui-icon-squaresmall-minus
  background-position -64px -208px

.ui-icon-squaresmall-close
  background-position -80px -208px

.ui-icon-grip-dotted-vertical
  background-position 0 -224px

.ui-icon-grip-dotted-horizontal
  background-position -16px -224px

.ui-icon-grip-solid-vertical
  background-position -32px -224px

.ui-icon-grip-solid-horizontal
  background-position -48px -224px

.ui-icon-gripsmall-diagonal-se
  background-position -64px -224px

.ui-icon-grip-diagonal-se
  background-position -80px -224px

.ui-widget-shadow
  margin -8px 0 0 -8px
  padding 8px
  background #aaaaaa url(images/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x
  opacity .30
  -moz-border-radius 8px
  -khtml-border-radius 8px
  -webkit-border-radius 8px
  border-radius 8px

.ui-autocomplete
  position absolute
  cursor default

.ui-menu
  list-style none
  margin 0
  display block
  float left
  .ui-menu
    margin-top -3px
  .ui-menu-item
    margin 0
    padding 0
    zoom 1
    float left
    clear left
    width 100%
    a
      text-decoration none
      display block
      padding .2em .4em
      line-height 1.4
      zoom 1

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active
  font-weight normal
  margin -1px

.ui-datepicker
  width 17em
  padding .2em .2em 0
  display none
  .ui-datepicker-header
    position relative
    padding .2em 0
  .ui-datepicker-prev
    left 2px
  .ui-datepicker-next
    right 2px
  .ui-datepicker-prev-hover
    left 1px
  .ui-datepicker-next-hover
    right 1px
  .ui-datepicker-title
    margin 0 2.3em
    line-height 1.8em
    text-align center
    select
      font-size 1em
      margin 1px 0
  select
    &.ui-datepicker-month-year
      width 100%
  table
    width 100%
    font-size .9em
    border-collapse collapse
    margin 0 0 .4em
  th
    padding .7em .3em
    text-align center
    font-weight bold
    border 0
  td
    border 0
    padding 1px
  .ui-datepicker-buttonpane
    background-image none
    margin .7em 0 0 0
    padding 0 .2em
    border-left 0
    border-right 0
    border-bottom 0
    button
      float right
      margin .5em .2em .4em
      cursor pointer
      padding .2em .6em .3em .6em
      width auto
      overflow visible
      &.ui-datepicker-current
        float left
  &.ui-datepicker-multi
    width auto

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
  position absolute
  top 2px
  width 1.8em
  height 1.8em

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
  top 1px

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
  display block
  position absolute
  left 50%
  margin-left -8px
  top 50%
  margin-top -8px

.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year
  width 49%

.ui-datepicker td span, .ui-datepicker td a
  display block
  padding .2em
  text-align right
  text-decoration none

.ui-datepicker-multi
  .ui-datepicker-group
    float left
    table
      width 95%
      margin 0 auto .4em
  .ui-datepicker-group-last
    .ui-datepicker-header
      border-left-width 0
  .ui-datepicker-group-middle
    .ui-datepicker-header
      border-left-width 0
  .ui-datepicker-buttonpane
    clear left

.ui-datepicker-multi-2
  .ui-datepicker-group
    width 50%

.ui-datepicker-multi-3
  .ui-datepicker-group
    width 33.3%

.ui-datepicker-multi-4
  .ui-datepicker-group
    width 25%

.ui-datepicker-row-break
  clear both
  width 100%
  font-size 0

.ui-datepicker-rtl
  direction rtl
  .ui-datepicker-prev
    right 2px
    left auto
    &:hover
      right 1px
      left auto
  .ui-datepicker-next
    left 2px
    right auto
    &:hover
      left 1px
      right auto
  .ui-datepicker-buttonpane
    clear right
    button
      float left
      &.ui-datepicker-current
        float right
  .ui-datepicker-group
    float right
  .ui-datepicker-group-last
    .ui-datepicker-header
      border-right-width 0
      border-left-width 1px
  .ui-datepicker-group-middle
    .ui-datepicker-header
      border-right-width 0
      border-left-width 1px

.ui-datepicker-cover
  display block
  position absolute
  z-index -1
  filter mask()
  top -4px
  left -4px
  width 200px
  height 200px

.ui-autocomplete-loading
  background #fafafa url(images/loader.gif) 50% 50% no-repeat

